<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2017 The Literata Project Authors (https://github.com/googlefonts/literata)</string>
    <key>descender</key>
    <integer>-230</integer>
    <key>familyName</key>
    <string>Literata</string>
    <key>guidelines</key>
    <array/>
    <key>italicAngle</key>
    <integer>-2</integer>
    <key>openTypeHeadCreated</key>
    <string>2019/03/28 12:56:33</string>
    <key>openTypeHheaAscender</key>
    <integer>1177</integer>
    <key>openTypeHheaDescender</key>
    <integer>-308</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Latin by Veronika Burian and Jose Scaglione. Greek by Irene Vlachou. Cyrillic by Vera Evstafieva</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.type-together.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>TypeTogether</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.google.com</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1177</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-308</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>TT</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1177</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>308</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-14</integer>
      <integer>0</integer>
      <integer>503</integer>
      <integer>517</integer>
      <integer>553</integer>
      <integer>567</integer>
      <integer>700</integer>
      <integer>714</integer>
      <integer>761</integer>
      <integer>782</integer>
    </array>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-230</integer>
      <integer>-216</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>M3 Italic</string>
    <key>trademark</key>
    <string>Literata is a trademark of Google Inc.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>3</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>503</integer>
  </dict>
</plist>
