/* Webfont: LiterataBook-SemiBold */@font-face {
    font-family: 'LiterataBookSemiBold';
    src: url('LiterataBook-Semibold.eot'); /* IE9 Compat Modes */
    src: url('LiterataBook-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiterataBook-Semibold.woff') format('woff'), /* Modern Browsers */
         url('LiterataBook-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiterataBook-Semibold.svg#LiterataBook-SemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

