/* Webfont: LiterataBook-Italic */@font-face {
    font-family: 'LiterataBook';
    src: url('LiterataBook-Italic.eot'); /* IE9 Compat Modes */
    src: url('LiterataBook-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiterataBook-Italic.woff') format('woff'), /* Modern Browsers */
         url('LiterataBook-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiterataBook-Italic.svg#LiterataBook-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

