/* Webfont: LiterataBook-SemiBoldItalic */@font-face {
    font-family: 'LiterataBookSemiBold';
    src: url('LiterataBook-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('LiterataBook-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LiterataBook-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
         url('LiterataBook-SemiboldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('LiterataBook-SemiboldItalic.svg#LiterataBook-SemiBoldItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

